@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

li{list-style: none;}
a{text-decoration: none; color: #1d1f21;}
button{border: 0; cursor: pointer;}
h2{text-transform: capitalize; font-size: 60px; margin-top: 200px;}
p{margin: 0;}
ul{padding: 0; margin: 0;}
*{
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.5px;
  color: #1d1f21;
}