body{
  background-color: var(--color-primary);
  transition: .3s;
  min-width: 1680px;
}
section{
  margin: 150px 0;
}
h3{
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}
.container{
  padding: 0 250px;
}

/* eventTab */
.eventTab{
  position: relative;
  display: flex;
  z-index: 9999;
  background-color: #110916;
  height: 42px;
  align-items: center;
  justify-content: center;
}
.eventTab p{
  flex: 1;
  color: #FFFFFF;
  text-align: center;
}
.eventTab .close{
  position: relative;
  width: 15px;
  background-color: transparent;
  border: 0;
}
.eventTab .close::before,
.eventTab .close::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}
.eventTab .close::before{
  rotate: 45deg;
}
.eventTab .close::after{
  rotate: -45deg;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 80px;
  left: 0; right: 0;
  z-index: 10;
  border-bottom: 1px solid #ffffff;
}
header > a{
  width: 65px;
  height: 100%;
}
.logo{
  background-image: url(../img/w_logo\ 1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin: 0;
  height: 100%;
}
.logo:hover{
  cursor: pointer;
}
.navi{
  display: flex;
}
.navi li{
  margin: 0 20px;
}
.navi a{
  color: #ffffff;
  font-weight: 400;
}
.navi li:hover a,
.user p:hover a{
  font-weight: 800;
}
.navi li a::after{
  content: attr(title);
  display: block;
  font-weight: 800;
  height: 0px;
  visibility: hidden;
}
.user{
  display: flex;
}
.user p{
  margin: 0 20px;
}
.user a{
  color: #ffffff;
}

/* main */
.main{
  position: relative;
  height: 100vh;
  background-color: var(--color-primary);
  margin: 0;
}
.blur{
  position: absolute;
}
.blur:nth-child(1){
  left: 720px;
  top: 360px;
  animation: bluranime1 1.8s linear infinite alternate-reverse;
}
.blur:nth-child(2){
  right: 620px;
  top: 500px;
  animation: bluranime2 1.8s linear infinite alternate-reverse;
  /* animation: bluranime2 1.7s linear .3s infinite alternate-reverse; */
}
.blur:nth-child(3){
  left: 860px;
  top: 790px;
  animation: bluranime3 1.8s linear infinite alternate-reverse;
  /* animation: bluranime3 1.9s linear .5s infinite alternate-reverse; */
}
.main .coffee{
  background-image: url(../img/main_coffee.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 250px;
  height: 110%;
  margin: auto;
}
.main .text{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0; right: 0; top: 0; bottom: 0;
  color: #ffffff;
}
.main h3{
  font-size: 9rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.main p{
  font-size: 25px;
  font-weight: 700;
  margin: .2rem 0;
}
.main .text .mainBtn{
  margin-top: 1rem;
  width: 115px;
  height: 40px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .text .mainBtn a{
  color: #ffffff;
}

/* banner */
.banner{
  margin: 110px 0;
}
.banner .bannerImg{
  height: 248px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner .swiper-slide:nth-child(1) .bannerImg{
  background-image: url(../img/banner/banner1.png);
}
.banner .swiper-slide:nth-child(2) .bannerImg{
  background-image: url(../img/banner/banner2.png);
}
.banner .swiper-slide:nth-child(3) .bannerImg{
  background-image: url(../img/banner/banner3.png);
}
.banner .swiper-button-prev,
.banner .swiper-button-next{
  width: 30px;
  height: 30px;
}
.banner .swiper-button-prev{
  left: 60px;
}
.banner .swiper-button-next{
  right: 60px;
}
.banner .swiper-button-next::after,
.banner .swiper-button-prev::after{
  display: none;
}
.banner .swiper-button-next::before,
.banner .swiper-button-prev::before{
  content: url(../img/icon/swiper_arrow.png);
}
.banner .swiper-button-next::before{
  rotate: 180deg;
}

/* product */
.product .gnb{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.product .gnb li{
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 20px;
}
.product .gnb li.show{
  color: var(--color-primary);
  background-color: #ffffff;
  font-weight: 700;
}
.product .gnb li:hover{
  color: var(--color-primary);
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.product .gnb li::after{
  content: attr(title);
  display: block;
  font-weight: 700;
  height: 0px;
  visibility: hidden;
}
.menu{
  position: relative;
  display: flex;
  height: 500px;
}
.menu li{
  display: none;
}
.menu li.show{
  position: absolute;
  display: flex;
}
.menu li > div{
  margin-right: 30px;
}
.menu .smallPic{
  display: flex;
  flex-direction: column;
}
.menu .smallPic img{
  width: 70px;
  margin-bottom: 30px;
}
.menu .pic{
  width: 450px;
}
.menu .pic img{
  width: 100%;
}
.menu .des{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .proNm p,
.menu .proNm h4{
  color: #ffffff;
}
.menu .proNm p:nth-child(1){
  font-weight: 700;
  font-size: 28px;
}
.menu .proNm h4{
  font-weight: 700;
  font-size: 40px;
  margin: 20px 0;
}
.menu .detail{
  display: flex;
}
.menu .detail .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  margin-right: 10px;
}
.menu .detail p{
  color: #ffffff;
  font: 14px;
}
.menu .detail .num{
  font-weight: 700;
  font-size: 21px;
}

/* news */
.newsContents{
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 800px;
}
.newsContents li{
  position: relative;
}
.newsContents li:nth-child(1) {
  grid-row: 1 / span 3;
}
.newsContents li:nth-child(2) {
  grid-row: 1 / span 4;
}
.newsContents li:nth-child(3) {
  grid-row: 1 / span 3;
}
.newsContents li:nth-child(4) {
  grid-row: 4 / span 4;
}
.newsContents li:nth-child(5) {
  grid-row: 5/ span 3;
}
.newsContents li:nth-child(6) {
  grid-row: 4 / span 4;
}
.newsContents p{
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(1.15deg, #020718 0.72%, rgba(255, 255, 255, 0) 41.15%);
  opacity: 0.7;
}
.newsPic{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  height: 100%;
  transition: .2s;
}
.newsContents li:nth-child(1) .newsPic{
  background-image: url(../img/news/news_1.jpg);
}
.newsContents li:nth-child(2) .newsPic{
  background-image: url(../img/news/news_2.jpg);
}
.newsContents li:nth-child(3) .newsPic{
  background-image: url(../img/news/news_3.jpg);
}
.newsContents li:nth-child(4) .newsPic{
  background-image: url(../img/news/news_4.jpg);
}
.newsContents li:nth-child(5) .newsPic{
  background-image: url(../img/news/news_5.jpg);
}
.newsContents li:nth-child(6) .newsPic{
  background-image: url(../img/news/news_6.jpg);
}
.newsContents li:hover .newsPic{
  background-size: 110%;
}
.newsContents li:hover .gradient{
  cursor: pointer;
}

/* relations */
.relations button{
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  border: 0;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}
.relations li{
  overflow: hidden;
  max-height: 47px;
  height: fit-content;
  transition: .4s;
  margin-bottom: 25px;
}
.relations .title{
  font-size: 21px;
  font-weight: 200;
  line-height: 1;
}
.relations .title:hover,
.relations .plus:hover{
  cursor: pointer;
}
.content p{
  color: #ffffff;
  font-size: 21px;
  font-weight: 200;
}
.relations .plus{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
}
.relations .plus::before,
.relations .plus::after{
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  height: 2px;
  width: 15px;
  border-radius: 10px;
}
.relations .plus::after{
  rotate: 90deg;
}
.relations .content{
  padding: 25px 32px;
  border-bottom: 1px solid #ffffff;
}
.relations li.show{
  max-height: 200px;
}
.relations li.show .title{
  font-weight: 500;
}
.relations li.show .plus::after{
  display: none;
}

/* footer */
footer{
  background-color: #303030;
}
footer a{
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
}
footer .top > a{
  width: 65px;
  height: 100%;
}
footer .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 80px;
  padding-top: 120px;
  padding-bottom: 50px;
}
footer .sns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .sns li{
  margin: 0 10px;
}
footer .sns li a div{
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.insta{
  background-image: url(../img/Icon/insta.png);
}
.facebook{
  background-image: url(../img/Icon/facebook.png);
}
.tweeter{
  background-image: url(../img/Icon/tweet.png);
}
.in{
  background-image: url(../img/Icon/in.png);
}
.youtube{
  background-image: url(../img/Icon/youtube.png);
}
footer .bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 300;
  padding: 30px 0;
}
footer .middle{
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #4A4A4A;
}
.menuTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  border-bottom: 1px solid #4A4A4A;
}
.menuTitle a{
  line-height: 3.5;
}
.footMenu{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footMenu li{
  margin-bottom: 15px;
}


/* animation */
@keyframes bluranime1 {
  from {
    box-shadow: 0px 0px 115px 127px #7bff8954;
  }
  to {
    box-shadow: 0px 0px 115px 0px #7bff8954;
  }
}
@keyframes bluranime2 {
  from {
    box-shadow: 0px 0px 115px 127px #ffffff5c;
  }
  to {
    box-shadow: 0px 0px 115px 0px #ffffff5c;
  }
}
@keyframes bluranime3 {
  from {
    box-shadow: 0px 0px 115px 127px #fb32ff59;
  }
  to {
    box-shadow: 0px 0px 115px 0px #fb32ff59;
  }
}