body{
  background-color: var(--color-primary);
}
h3{
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}
.container{
  padding: 0 250px;
}

/* eventTab */
.eventTab{
  position: relative;
  display: flex;
  z-index: 9999;
  background-color: #110916;
  height: 42px;
  align-items: center;
  justify-content: center;
}
.eventTab p{
  flex: 1;
  color: #FFFFFF;
  text-align: center;
}
.eventTab .close{
  position: relative;
  width: 15px;
  background-color: transparent;
  border: 0;
}
.eventTab .close::before,
.eventTab .close::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}
.eventTab .close::before{
  rotate: 45deg;
}
.eventTab .close::after{
  rotate: -45deg;
}

/* header */
header{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 80px;
  left: 0; right: 0;
  z-index: 10;
  border-bottom: 1px solid #ffffff;
}
.logo{
  background-image: url(../img/w_logo\ 1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 65px;
  height: 100%;
}
.navi{
  display: flex;
}
.navi li{
  margin: 0 20px;
}
.navi a{
  color: #ffffff;
  font-weight: 400;
}
.navi li:hover a,
.user p:hover a{
  font-weight: 800;
}
.navi li a::after{
  content: attr(title);
  display: block;
  font-weight: 800;
  height: 0px;
  visibility: hidden;
}
.user{
  display: flex;
}
.user p{
  margin: 0 20px;
}
.user a{
  color: #ffffff;
}

/* main */
.main{  
  height: 100vh;
  background-color: var(--color-primary);
}
.blur{
  position: absolute;
}
.blur:nth-child(1){
  left: 720px;
  top: 360px;
  animation: bluranime1 1.8s linear infinite alternate-reverse;
}
.blur:nth-child(2){
  right: 620px;
  top: 500px;
  animation: bluranime2 1.8s linear infinite alternate-reverse;
  /* animation: bluranime2 1.7s linear .3s infinite alternate-reverse; */
}
.blur:nth-child(3){
  left: 860px;
  top: 790px;
  animation: bluranime3 1.8s linear infinite alternate-reverse;
  /* animation: bluranime3 1.9s linear .5s infinite alternate-reverse; */
}
.main .coffee{
  background-image: url(../img/main_coffee.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 250px;
  height: 100%;
  margin: auto;
}
.main .text{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0; right: 0; top: 0; bottom: 0;
  color: #ffffff;
}
.main h3{
  font-size: 9rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.main p{
  font-size: 25px;
  font-weight: 700;
  margin: .2rem 0;
}
.main .text .mainBtn{
  margin-top: 1rem;
  width: 115px;
  height: 40px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .text .mainBtn a{
  color: #ffffff;
}

/* banner */
.banner{
  margin: 110px 0;
}
.banner .bannerImg{
  height: 248px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner .swiper-slide:nth-child(1) .bannerImg{
  background-image: url(../img/banner/banner1.png);
}
.banner .swiper-slide:nth-child(2) .bannerImg{
  background-image: url(../img/banner/banner2.png);
}
.banner .swiper-slide:nth-child(3) .bannerImg{
  background-image: url(../img/banner/banner3.png);
}
.banner .swiper-button-prev,
.banner .swiper-button-next{
  width: 30px;
  height: 30px;
}
.banner .swiper-button-prev{
  left: 60px;
}
.banner .swiper-button-next{
  right: 60px;
}
.banner .swiper-button-next::after,
.banner .swiper-button-prev::after{
  display: none;
}
.banner .swiper-button-next::before,
.banner .swiper-button-prev::before{
  content: url(../img/icon/swiper_arrow.png);
}
.banner .swiper-button-next::before{
  rotate: 180deg;
}

/* product */
.product .gnb{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product .gnb li{
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 20px;
}
.product .gnb li:hover{
  color: var(--color-primary);
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.product .gnb li::after{
  content: attr(title);
  display: block;
  font-weight: 700;
  height: 0px;
  visibility: hidden;
}

/* animation */
@keyframes bluranime1 {
  from {
    box-shadow: 0px 0px 115px 127px #7bff8954;
  }
  to {
    box-shadow: 0px 0px 115px 0px #7bff8954;
  }
}
@keyframes bluranime2 {
  from {
    box-shadow: 0px 0px 115px 127px #ffffff5c;
  }
  to {
    box-shadow: 0px 0px 115px 0px #ffffff5c;
  }
}
@keyframes bluranime3 {
  from {
    box-shadow: 0px 0px 115px 127px #fb32ff59;
  }
  to {
    box-shadow: 0px 0px 115px 0px #fb32ff59;
  }
}