footer{
  background-color: var(--color-Grey);
  padding: 10px 0;
}
footer .wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p{
  font-family: var(--font-pre);
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 360px) {
  footer p{
    font-size: 12px;
  }
}