header{
  position: fixed;
  top: 0;left: 0;right: 0;
  padding: 20px 0;
  /* transform: translateY(-100%); */
  z-index: 99;
  transition: .5s;
}
header .wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  font-family: var(--font-raleway);
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
header nav ul{
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav li{
  position: relative;
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

header.show{
  transform: translateY(0);
}
header.invert .logo{
  color: var(--color-Black);
}
header.invert li{
  color: var(--color-Black);
}
/* header.invert li a{
  pointer-events: none;
} */

@media screen and (min-width: 768px) {
  header nav li::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;right: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    transform: scale(0, 1);
    transform-origin: bottom right;
    transition: transform .3s;
  }
  header.invert nav li::after{
    background-color: var(--color-Black);
  }
  header nav li:hover::after{
    transform: scale(1, 1);
    transform-origin: bottom left;
  }
}