body{
  background-color: var(--color-Yellow);
}

/* visual */
section._01{
  height: 100vh;
}
section._01 .wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .logo_group{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section._01 .logo_box{
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
section._01 .logo_box .img-box{
  position: relative;
  opacity: .2;
  transition: .5s;
}
section._01 .logo_box._01 .img-box:nth-child(2){
  opacity: 1;
}
section._01 .logo_box._01 .img-box .black{
  opacity: .2;
  transition: .5s;
}
section._01 .logo_box._01 .img-box .white{
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  filter: brightness(100);
  transform: rotate(-90deg);
  opacity: 0;
  transition: opacity .5s;
}

@media screen and (min-width: 768px) {
  section._01 .logo_box._01 .img-box:nth-child(1):hover{
    opacity: 1;
  }
  section._01 .logo_box._01 .img-box:nth-child(2):hover .black{
    opacity: 0;
  }
  section._01 .logo_box._01 .img-box:nth-child(2):hover .white{
    opacity: 1;
  }
  section._01 .logo_box._02 .img-box:nth-child(1):hover{
    opacity: 1;
    filter: brightness(100);
    transform: rotate(90deg);
  }
  section._01 .logo_box._02 .img-box:nth-child(2):hover{
    opacity: 1;
  }
}