body{
  background-color: var(--color-Yellow);
}

/* cursor */
#cursor{
  width: 50px;
  aspect-ratio: 1 / 1;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

/* visual */
section._01{
  min-height: 100vh;
}
section._01 .wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .logo_group{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section._01 .logo_box{
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.flow_section{
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--color-Yellow);
}
.flow_section::before{
  content: "";
  position: absolute;
  left: 0;right: 0;
  top: 0;
  height: 7px;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, .1);
}
.flow_wrap{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.flow_wrap .flow_box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  margin-right: auto;
  top: 40%;
  /* opacity: 0; */
  gap: 50px;
}
.flow_wrap .flow_box._01{
  transform: translate(-100%, -50%);
  left: 50%;
}
.flow_wrap .flow_box._02{
  transform: translate(100%, 50%);
  right: 50%;
}
.flow_wrap .flow_box .txt{
  font-family: var(--font-gmarket);
  font-weight: 700;
  font-size: 150px;
  color: var(--color-Black);
  text-transform: uppercase;
}
.flow_wrap .flow_box .img_box{
  position: relative;
  top: -20px;
}

section._02{
  position: relative;
  height: 100vh;
}
section._02 .tbx{
  height: 100%;
}
section._02 .wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._02 .profile_group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
section._02 .img_part{
  position: relative;
  transform: rotateY(0);
}
section._02 .img_part .img-box._01{
  opacity: 1;
}
section._02 .img_part .img-box._02{
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;right: 0;
  transform: rotateY(180deg);
}
section._02 .des_part{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section._02 .word_group{
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section._02 .des_part .word{
  padding: 15px 24px;
  width: fit-content;
  border-radius: 16px;
  background-color: var(--color-YellowDown);
  font-family: var(--font-gmarket);
  font-weight: 700;
  font-size: 60px;
  color: var(--color-BlackDown);
  text-transform: uppercase;
}
section._02 .des_part .word span{
  position: relative;
  top: 6px;
}
section._02 .des_group{
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 720px;
}
section._02 .des_group .tag_group{
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}
section._02 .des_group .tag_group .tag{
  font-family: var(--font-pre);
  font-weight: 700;
  font-size: 24px;
  color: var(--color-Yellow);
  padding: 8px 24px;
  border-radius: 50px;
  background-color: var(--color-Black);
  transform: translate(0px, 100%);
}
section._02 .des_group h3{
  font-family: var(--font-pre);
  font-weight: 800;
  font-size: 60px;
  color: var(--color-Black);
  overflow: hidden;
}
section._02 .des_group h3 span{
  display: block;
  transform: translate(0px, 100%);
}
section._02 .des_group p{
  font-family: var(--font-pre);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-Black);
  opacity: .5;
  overflow: hidden;
}
section._02 .des_group p span{
  display: block;
  transform: translate(0px, 100%);
}

section._03{
  max-height: 800px;
  padding: 293px 0;
  background-color: var(--color-Black);
  position: relative;
}
section._03 .wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._03 .cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  height: 100%;
}
section._03 .logo_tbx{
  overflow: hidden;
}
section._03 .logo_group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  transform: translateY(100%);
}
section._03 .logo_group p{
  font-family: var(--font-gmarket);
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}
section._03 .contact_tbx{
  overflow: hidden;
}
section._03 .contact{
  position: relative;
  font-family: var(--font-gmarket);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-align: center;
  transition: .3s;
  left: calc(151px + 24px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  transform: translateY(100%);
}
section._03 .contact .abs{
  text-transform: uppercase;
}
section._03 .contact .rel{
  background-color: #404040;
  border-radius: 50px;
  padding: 8px 24px;
  opacity: 0;
  transition: .3s;
}
section._03 .contact .rel span{
  display: block;
  position: relative;
  top: 2px;
}
section._03 .git{
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: .3s;
}

/* portfolio */
.portfolio{
  position: fixed;
  left: 0;right: 0;
  top: 0;bottom: 0;
  z-index: 1;
  background-color: var(--color-Black);
  display: none;
}
.portfolio .wrap{
  max-width: 1040px;
  height: 100%;
  width: 80%;
}
.portfolio .swiper{
  height: 100%;
}
.portfolio .swiper-slide{
  position: relative;
  transition: .3s;
}
.portfolio .port_des{
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fff;
}
.portfolio .port_des h3{
  font-family: var(--font-gmarket);
  font-weight: 700;
  font-size: 100px;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
}
.portfolio .port_des .btn{
  height: 60px;
  max-width: 252px;
  font-family: var(--font-pre);
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff41;
  backdrop-filter: blur(5px);
  border-radius: 32px;
  cursor: pointer;
}
.portfolio .port_cont{
  width: 95%;
  max-width: 975px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.portfolio .port_cont .top{
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-pre);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.portfolio .port_cont .percentbar{
  position: relative;
  width: 100px;
  height: 16px;
  border-radius: 50px;
  background-color: #4A4A4A;
  overflow: hidden;
}
.portfolio .port_cont .bar{
  position: absolute;
  left: 0;
  top: 0;bottom: 0;
  background-color: var(--color-Yellow);
  width: 50%;
  border-radius: 50px;
}

.portfolio .swiper-slide .img-box{
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.portfolio .swiper-slide .img-box::after{
  content: "";
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  background: linear-gradient(to right, #000000, #00000000 60%);
  opacity: .6;
}

.portfolio .tag_box{
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-pre);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.portfolio .pagination{
  position: fixed;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
}
.portfolio .pagination .num{
  font-family: var(--font-pre);
  font-weight: 700;
  font: 16px;
  color: #fff;
}
.portfolio .pagination .lineWrap{
  height: 150px;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 13px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.portfolio .pagination .lineWrap span{
  display: block;
  position: absolute;
  height: 20%;
  width: 3px;
  left: 0;
  top: 0;
  background-color: #fff;
  transition-duration: 0.2s;
  border-radius: 5px;
}
html.show .portfolio{
  display: block;
}

/* hover event */
@media screen and (min-width: 768px) {
  section._01 .logo_box .img-box{
    position: relative;
    opacity: .2;
    transition: .5s;
  }
  section._01 .logo_box._01 .img-box:nth-child(2){
    opacity: .2;
    transition: .5s;
  }
  section._01 .logo_box._01 .img-box:nth-child(1):hover{
    opacity: 1;
  }
  section._01 .logo_box._01 .img-box:nth-child(2):hover{
    opacity: 1;
    filter: brightness(100);
    transform: rotate(-90deg);
  }
  section._01 .logo_box._02 .img-box:nth-child(1):hover{
    opacity: 1;
    filter: brightness(100);
    transform: rotate(90deg);
  }
  section._01 .logo_box._02 .img-box:nth-child(2):hover{
    opacity: 1;
  }

  section._02 .des_part .word:hover{
    color: #fff;
  }
  section._02 .des_part .word:nth-child(1):hover{
    background-color: var(--color-Blue);
  }
  section._02 .des_part .word:nth-child(2):hover{
    background-color: var(--color-Red);
  }
  section._02 .des_part .word:nth-child(3):hover{
    background-color: var(--color-Green);
  }

  section._02 .des_group .tag_group .tag:hover{
    color: #fff;
  }
  section._02 .des_group .tag_group .tag:nth-child(1):hover{
    background-color: var(--color-Green);
  }
  section._02 .des_group .tag_group .tag:nth-child(2):hover{
    background-color: var(--color-Red);
  }
  section._02 .des_group .tag_group .tag:nth-child(3):hover{
    background-color: var(--color-Blue);
  }

  section._03 .contact:hover{
    left: 0;
  }
  section._03 .contact:hover .rel{
    opacity: 1;
  }
  section._03 .contact .rel:hover{
    background-color: var(--color-Yellow);
    color: var(--color-Black);
  }
  section._03 .git{
    opacity: 0.3;
  }
  section._03 .git:hover{
    opacity: 1;
  }

  .portfolio .port_des .btn:hover{
    backdrop-filter: unset;
    background-color: var(--color-Yellow);
    color: var(--color-Black);
    font-weight: 700;
  }
}

/* 반응형 */
@media screen and (max-width: 1100px) {
  section._02 .img_part{
    width: 40%;
  }
  section._02 .des_part .word{
    font-size: 50px;
  }
  section._02 .des_group h3{
    font-size: 50px;
  }
  section._02 .des_group p{
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  section._02 .img_part{
    width: unset;
  }
  section._02 .des_part .word{
    font-size: 40px;
  }
  section._02 .des_part .word span{
    top: 3px;
  }
  section._02 .des_group h3{
    font-size: 40px;
  }
  section._02 .des_group .tag_group .tag{
    font-size: 18px;
  }
  section._02 .des_group p{
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  section._01{
    position: relative;
  }
  section._01 .logo_group{
    opacity: 0.2;
  }
  
  .flow_section{
    display: none;
  }
  .flow_section_768{
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
  }
  .flow_wrap .flow_box{
    gap: 20px;
  }
  .flow_wrap .flow_box._01{
    transform: translate(-110%, -50%);
  }
  .flow_wrap .flow_box._02{
    transform: translate(110%, 50%);
  }
  .flow_wrap .flow_box .img_box{
    width: 130px;
  }
  .flow_wrap .flow_box .txt{
    font-size: 100px;
  }

  section._02 .profile_group{
    flex-direction: column;
    gap: 5vh;
  }
  section._02 .img_part{
    width: 40vh;
  }
  section._02 .word_group{
    width: 100%;
    align-items: center;
    top: unset;
    transform: unset;
    gap: 7px;
  }
  section._02 .des_group .tag_group{
    gap: 10px;
  }
  section._02 .des_part .word{
    font-size: 35px;
    padding: 7px 13px;
    border-radius: 7px;
  }
  section._02 .des_group{
    align-items: center;
    text-align: center;
    max-width: 450px;
  }
  
  section._03{
    padding: 0;
    height: calc(100vh - 46px);
    max-height: unset;
  }
  section._03 .logo_group{
    gap: 14px;
  }
  section._03 .logo_group .img-box{
    max-width: 50px;
  }
  section._03 .cont{
    justify-content: center;
  }
  section._03 .contact{
    flex-direction: column;
    left: unset;
  }
  section._03 .contact .abs{
    position: relative;
    top: 1px;
    font-size: 24px;
  }
  section._03 .contact .rel{
    opacity: 1;
    background-color: var(--color-Yellow);
    color: var(--color-Black);
    font-size: 18px;
  }
  section._03 .contact .rel a{
    position: relative;
    top: 1px;
  }
  section._03 .logo_group p{
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  section._01 .logo_group{
    width: 70%;
    gap: 10px;
  }
  section._01 .logo_box{
    gap: 10px;
  }
  .flow_wrap .flow_box{
    gap: 10px;
  }
  .flow_wrap .flow_box .txt{
    font-size: 50px;
  }
  .flow_wrap .flow_box .img_box{
    width: 60px;
    top: -10px;
  }
  section._02 .des_group .tag_group .tag{
    font-size: 14px;
    padding: 8px 18px;
  }
  section._02 .des_group h3{
    font-size: 30px;
  }
  section._02 .des_group p{
    font-size: 13px;
  }
  section._03 .logo_group{
    gap: 10px;
  }
  section._03 .logo_group .img-box{
    min-width: 40px;
  }
  section._03 .logo_group p{
    font-size: 1.5rem;
  }
  section._03 .contact{
    gap: 15px;
  }
  section._03 .contact .abs{
    font-size: 18px;
  }
  section._03 .contact .rel{
    font-size: 16px;
  }
  section._03 .git{
    bottom: 40px;
  }
}