body{
  background-color: var(--color-Yellow);
}

/* cursor */
#cursor{
  width: 50px;
  aspect-ratio: 1 / 1;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

/* visual */
section._01{
  height: 100vh;
}
section._01 .wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .logo_group{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section._01 .logo_box{
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
section._01 .logo_box .img-box{
  position: relative;
  opacity: .2;
  transition: .5s;
}
section._01 .logo_box._01 .img-box:nth-child(2){
  opacity: 1;
}
section._01 .logo_box._01 .img-box .black{
  opacity: .2;
  transition: .5s;
}
section._01 .logo_box._01 .img-box .white{
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  filter: brightness(100);
  transform: rotate(-90deg);
  opacity: 0;
  transition: opacity .5s;
}

.flow_section{
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--color-Yellow);
  box-shadow: 30px 50px 70px #000;
}
.flow_wrap{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.flow_wrap .flow_box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  margin-right: auto;
  top: 40%;
  opacity: 0;
  gap: 50px;
}
.flow_wrap .flow_box._01{
  transform: translate(-100%, -50%);
  left: 50%;
}
.flow_wrap .flow_box._02{
  transform: translate(100%, 50%);
  right: 50%;
}
.flow_wrap .flow_box .txt{
  font-family: var(--font-gmarket);
  font-weight: 700;
  font-size: 200px;
  color: var(--color-Black);
  text-transform: uppercase;
}
.flow_wrap .flow_box .img_box{
  position: relative;
  top: -20px;
}

/* hover event */
@media screen and (min-width: 768px) {
  section._01 .logo_box._01 .img-box:nth-child(1):hover{
    opacity: 1;
  }
  section._01 .logo_box._01 .img-box:nth-child(2):hover .black{
    opacity: 0;
  }
  section._01 .logo_box._01 .img-box:nth-child(2):hover .white{
    opacity: 1;
  }
  section._01 .logo_box._02 .img-box:nth-child(1):hover{
    opacity: 1;
    filter: brightness(100);
    transform: rotate(90deg);
  }
  section._01 .logo_box._02 .img-box:nth-child(2):hover{
    opacity: 1;
  }
}