@font-face {
    font-family: 'a Accountant Signature';
    src: url('aAccountantSignature.woff2') format('woff2'),
        url('aAccountantSignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

