header{
  position: fixed;
  left: 0;right: 0;
  top: 0;
  z-index: 99;
  padding: 26px 0;
  background-color: var(--color-Dark);
  overflow: hidden;
  max-height: 30px;
  transition: .4s;
}
header .wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .group_01{
  display: flex;
  align-items: center;
  gap: 17px;
}
header .logo{
  font-family: var(--font-popp);
  font-size: 24px;
  line-height: 32px;
  color: var(--color-Beige);
  text-transform: uppercase;
  cursor: pointer;
}
header .ham{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
header .ham .line{
  width: 100%;
  height: 2px;
  background-color: var(--color-Beige);
  border-radius: 10px;
}
header .ham .line.w80{
  width: 80%;
}
header nav{
  width: 65%;
}
header nav .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav li{
  font-family: var(--font-popp);
  font-size: 18px;
  line-height: 26px;
  color: var(--color-Beige);
  cursor: pointer;
}
header nav li.mem{
  position: relative;
}
header nav li.mem span{
  position: relative;
  z-index: 2;
}
header nav li.mem::before{
  content: "";
  position: absolute;
  left: -15px;
  right: -15px;
  top: -5px;
  bottom: -6px;
  background-color: #D78325;
  border-radius: 30px;
  padding: 8px 12px;
}

header .ham{
  display: none;
}

header.invert{
  background-color: transparent;
}

/* 햄버거 메뉴 */
header .hamburger{
  width: 100%;
  margin-top: 22px;
}
header .hamburger li{
  font-family: var(--font-popp);
  font-size: 18px;
  line-height: 3;
  color: var(--color-Beige);
  cursor: pointer;
}
header .hamburger li.mem{
  position: relative;
  line-height: 2;
  max-width: 65px;
  margin-left: auto;
}
header .hamburger li.mem span{
  position: relative;
  z-index: 2;
}
header .hamburger li.mem::before{
  content: "";
  position: absolute;
  left: -15px;
  right: -15px;
  top: -5px;
  bottom: -6px;
  background-color: #D78325;
  border-radius: 30px;
  padding: 8px 12px;
}
.ham_on header{
  max-height: 400px;
}


@media screen and (max-width: 1024px) {
  header nav{
    width: 75%;
  }
  header nav li{
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  header{
    padding: 22px 0;
    background-color: var(--color-Dark) !important;
  }
  header .wrap{
    flex-wrap: wrap;
  }
  header nav{
    display: none;
  }
  header .group_01{
    width: 100%;
    justify-content: space-between;
  }
  header .ham{
    display: flex;
  }
}