@import "./REVONZA/stylesheet.css";
/* font-family: 'REVONZA'; */
@import "./aAccountantSignature/stylesheet.css";
/* font-family: 'a Accountant Signature'; */
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
/* font-family: 'GmarketSans'; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@font-face {font-family: "High Summit"; src: url("//db.onlinewebfonts.com/t/2a587fe805b000b2a41861c629096fb9.eot"); src: url("//db.onlinewebfonts.com/t/2a587fe805b000b2a41861c629096fb9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2a587fe805b000b2a41861c629096fb9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2a587fe805b000b2a41861c629096fb9.woff") format("woff"), url("//db.onlinewebfonts.com/t/2a587fe805b000b2a41861c629096fb9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2a587fe805b000b2a41861c629096fb9.svg#High Summit") format("svg"); }
/* font-family: 'Nanum Myeongjo', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

/* S-coredream */
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 100;
	src: url('./S-Core_Dream/SCDream_Thin.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 200;
	src: url('./S-Core_Dream/SCDream_ExtraLight.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 300;
	src: url('./S-Core_Dream/SCDream_Light.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 400;
	src: url('./S-Core_Dream/SCDream_Regular.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 500;
	src: url('./S-Core_Dream/SCDream_Medium.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 600;
	src: url('./S-Core_Dream/SCDream_SemiBold.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 700;
	src: url('./S-Core_Dream/SCDream_Bold.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 800;
	src: url('./S-Core_Dream/SCDream_ExtraBold.otf') format('opentype');
}
@font-face {
	font-family: 'S-CoreDream';
	font-weight: 900;
	src: url('./S-Core_Dream/SCDream_Black.otf') format('opentype');
}

/* Pretendard */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
}