@charset "UTF-8";
/* 기본 설정들 */
html {overflow-x: hidden;}
body{position: relative;overflow: hidden !important;}
html *{ word-break: keep-all;}
html, body {font-family: "Noto Sans KR", sans-serif;}
img, p, span, h1, h2, h3, h4, h5, h6 {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; }
.p{display: block ;}
.t{display: none;}
.m{display: none ;}
.fb{font-family: "Noto Sans KR"; font-weight: 600; font-style: bold;}
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: #2f3542; border-radius: 10px;}

@media screen and (max-width: 1250px) {
  .p{display: none;}
  .t{display: block;}
  /* .cont{width: 90%;margin: 0 auto;max-width:1250px} */
}


@media screen and (max-width:767px) {
  .m{display: block;}
  /* .cont{max-width:767px} */
}

/* 기본 세팅 */
.wrap{ width: 90%; margin: 0 auto; }
.wrap[max="1320"]{ max-width: 1320px; }

.block_1250{display: none;}
.none_1250{display: block;}

.block_767{display: none;}
.none_767{display: block;}

@media screen and (max-width: 1250px) {
  .block_1250{display: block;}
  .none_1250{display: none;}
}

@media screen and (max-width: 767px) {
  .block_767{display: block;}
  .none_767{display: none;}
}

:root{
  /* font */
  --font-popp: "Poppins", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-caveat: "Caveat", sans-serif;
  
  /* color */
  --color-Dark: #394034;
  --color-Brown: #935831;
  --color-Beige: #E5DCD3;
  --color-Orange: #D78325;
  --color-Black: #2E2C2A;
  --color-White: #f5f5f5;

}