section._01{
  /* height: 100vh; */
  padding: 72px 0;
  max-height: 972px;
  background-color: var(--color-Dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .wrap{
  position: relative;
}
section._01 .txt_group{
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
}
section._01 .txt_group .icon_box{
  display: flex;
  align-items: center;
  gap: 14px;
}
section._01 .txt_group h2{
  font-family: var(--font-popp);
  font-weight: 700;
  font-size: 120px;
  line-height: 115px;
  color: #fff;
  text-transform: uppercase;
}
section._01 .txt_group h2 span{
  color: var(--color-Orange);
}
section._01 .txt_group > p{
  font-family: var(--font-caveat);
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
}
section._01 .txt_group .mov_btn{
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Orange);
  border-radius: 5px;
  max-width: 146px;
  height: 58px;
}
section._01 .banner-group .swiper-slide{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 25px;  
}
section._01 .group_01{
  max-width: 425px;
}
section._01 .group_01 .img_group{
  position: relative;
}
section._01 .group_01 .img_group .arr-box{
  position: absolute;
  bottom: 0;right: 0;
  transform: translateY(-30%);
  border: solid 2px #fff;
  border-radius: 50%;
  width: 67px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .group_01 p{
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 21px;
}
section._01 .group_02{
  position: relative;
  top: 20px;
}
section._01 .swiper{
  overflow: visible;
}


@media screen and (min-width: 768px) {
  section._01 .txt_group .mov_btn:hover{
    filter: brightness(1.2);
    cursor: pointer;
  }
  section._01 .txt_group .icon_box .img-box{
    cursor: pointer;
  }
  section._01 .group_01 .img_group .arr-box{
    cursor: pointer;
  }
  section._01 .group_01 .img_group .arr-box img{
    transition: .3s;
  }
  section._01 .group_01 .img_group .arr-box:hover{
    background: #00000073;
    transition: .3s;
  }
  section._01 .group_01 .img_group .arr-box:hover img{
    transform: scale(1.2);
  }
}