.mov_btn{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Orange);
  border-radius: 5px;
  width: 100%;
  max-width: 146px;
  height: 58px;
}

/* sec01 */
section._01{
  padding: 72px 0;
  background-color: var(--color-Dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .wrap{
  position: relative;
}
section._01 .txt_group{
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
}
section._01 .txt_group .icon_box{
  display: flex;
  align-items: center;
  gap: 14px;
}
section._01 .txt_group h2{
  font-family: var(--font-popp);
  font-weight: 700;
  font-size: 120px;
  line-height: 115px;
  color: #fff;
  text-transform: uppercase;
}
section._01 .txt_group h2 span{
  color: var(--color-Orange);
}
section._01 .txt_group > p{
  font-family: var(--font-caveat);
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
}
section._01 .banner-group .swiper-slide{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 25px;  
}
section._01 .group_01{
  max-width: 425px;
}
section._01 .group_01 .img_group{
  position: relative;
}
section._01 .group_01 .img_group .arr-box{
  position: absolute;
  bottom: 0;right: 0;
  transform: translateY(-30%);
  border: solid 2px #fff;
  border-radius: 50%;
  width: 67px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .group_01 p{
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 21px;
}
section._01 .group_02{
  position: relative;
  top: 20px;
}
section._01 .swiper{
  overflow: visible;
}

/* sec02 */
section._02{
  background-color: var(--color-Brown);
  min-height: 666px;
}
section._02 .wrap{
  display: flex;
  align-items: center;
}
section._02 .cont._l{
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 82%;
  min-height: 666px;
}
section._02 .cont._l .txt-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-White);
  background-color: var(--color-Dark);
  border-radius: 8px 0 0 4px;
  padding: 19px 13px;
  padding-right: 40px;
}
section._02 .cont._l .l_group{
  position: absolute;
  left: 0;top: 0;
  width: 40%;
}
section._02 .cont._l > .img-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 70%;
}
section._02 .cont._l .l_group > .img-box{
  position: relative;
  top: 50px;
}
section._02 .cont._r{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section._02 .cont._r h3{
  font-family: var(--font-popp);
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  color: var(--color-White);
  text-transform: uppercase;
}
section._02 .cont._r p{
  font-family: var(--font-lato);
  font-size: 18px;
  line-height: 26px;
  color: var(--color-White);
}
section._02 .cont._r .tag_group{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-White);
}
section._02 .cont._r .tag{
  border: 2px solid var(--color-White);
  border-radius: 40px;
  padding: 18px 14px;
  font-family: var(--font-lato);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sec03 */
section._03{
  padding: 96px 0;
  text-align: center;
  background-color: var(--color-Beige);
}
section._03 h3{
  margin-bottom: 56px;
  font-family: var(--font-popp);
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: var(--color-Black);
  text-transform: uppercase;
}
section._03 h4{
  margin-bottom: 60px;
  font-family: var(--font-popp);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  color: var(--color-Black);
  text-transform: uppercase;
}
section._03 .p_arrow{
  position: relative;
  background-color: var(--color-Black);
  border-radius: 30px;
  padding: 0px 30px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 28px;
}
section._03 .p_arrow img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section._03 .wrap > p{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 35px;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  color: var(--color-Black);
}
section._03 .mov_btn{
  margin: 0 auto;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Orange);
  border-radius: 5px;
  max-width: 146px;
  height: 58px;
  color: var(--color-Beige);
}

/* sec04 */
section._04{
  position: relative;
  background-color: var(--color-Beige);
}
section._04 .wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
section._04 .bg_square{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 60%;
  background-color: var(--color-Brown);
}
section._04 .menu_box{
  position: relative;
  background-color: var(--color-Beige);
  border-radius: 50px;
  padding: 29px 0;
  width: 100%;
}
section._04 .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
}
section._04 .title{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section._04 .title h4{
  font-family: var(--font-popp);
  font-weight: 600;
  font-size: 54px;
  line-height: 62px;
  color: var(--color-Black);
  text-transform: uppercase;
}
section._04 .title p{
  font-family: var(--font-caveat);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: var(--color-Black);
}
section._04 .tag_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 40%;
  gap: 15px;
}
section._04 .tag{
  border: 1px solid var(--color-Black);
  font-family: var(--font-lato);
  border-radius: 40px;
  padding: 18px 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._04 .menu_group{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 23px;
  row-gap: 38px;
}
section._04 .menu{
  display: flex;
  flex-direction: column;
  gap: 26px;
}
section._04 .img_group{
  position: relative;
}
section._04 .img_group .img-box{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
section._04 .img_group img{
  width: 100%;
  transition: .3s;
}
section._04 .img_group .des_cover{
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  transform: translateX(100%);
  transition: .4s;
}
section._04 .img_group .des_rel{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-Orange);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-lato);
  font-size: 25px;
  line-height: 1.2;
  color: var(--color-Beige);
}
section._04 .img_group .des_btn{
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  background-color: var(--color-Orange);
  padding: 8px 10px;
  border-radius: 30px 0 0 30px;
  cursor: pointer;
  transition: .4s;
}
section._04 .menu .des_group{
  display: flex;
  justify-content: space-between;
}
section._04 .menu .des_group .name{
  font-family: var(--font-popp);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-Black);
  width: 100%;
  max-width: 290px;
}
section._04 .menu .des_group .des{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: var(--color-Orange);
}
section._04 .menu .des_group .capacity{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-Black);
}
section._04 .menu.show .img_group .des_cover{
  transform: translateX(0);
}
section._04 .menu.show .img_group .des_btn{
  right: 100%;
}
section._04 .bottom {
  margin-top: 46px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 17px;
}
section._04 .bottom .page_group{
  display: flex;
  align-items: center;
  gap: 20px;
}
section._04 .bottom p{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-Black);
}
section._04 .bottom .page{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-Black);
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
}
section._04 .bottom .page.on{
  background-color: var(--color-Dark);
  color: var(--color-White);
}
section._04 .bean_group{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
section._04 .bean_group .cont_l > .img-box{
  position: relative;
  top: -5vh;
  margin-left: 10vw;
}
section._04 .bean_group .inform{
  position: absolute;
  left: 0;top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-White);
  background-color: #394034df;
  border-radius: 8px 20px 40px 4px;
  padding: 19px 13px;
  padding-right: 40px;
}
section._04 .bean_group .cont_r{
  max-width: 490px;
  margin-top: 40px;
}
section._04 .bean_group .cont_r h3{
  font-family: var(--font-popp);
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: var(--color-Black);
  text-transform: uppercase;
}
section._04 .bean_group .cont_r h3 span{
  color: var(--color-Orange);
}
section._04 .bean_group .cont_r  > p{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 19px;
  line-height: 1.8;
  color: var(--color-Black);
  margin-top: 48px;
  max-width: 540px;
}
section._04 .bean_group .cont_r .price{
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 17px;
}
section._04 .bean_group .cont_r .price p{
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: var(--color-Black);
}

/* sec05 */
section._05{
  background-color: var(--color-Dark);
}
section._05 h3{
  font-family: var(--font-popp);
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: var(--color-White);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}
section._05 .wrap{
  position: relative;
  padding: 66px 0 55px 0;
}
section._05 .img_abs{
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  border: 10px solid var(--color-Beige);
  border-radius: 50%;
  width: 20vw;
  max-width: 221px;
}
section._05 .wrap > p{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 19px;
  line-height: 1.8;
  color: var(--color-White);
  text-align: center;
  margin-bottom: 55px;
}
section._05 .roast{
  display: flex;
  justify-content: space-between;
  gap: 15px;
} 
section._05 .roast li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 19px;
  background-color: var(--color-Orange);
  padding: 21px 16px;
  color: var(--color-White);
  font-family: var(--font-lato);
  border-radius: 8.5px 23px 8.5px 8.5px;
}
section._05 .roast .name{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* sec06 */
section._06{
  position: relative;
  background-color: var(--color-Beige);
  padding: 90px 0 80px 0;
}
section._06 .wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
section._06 .bg_square{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 70%;
  background-color: var(--color-Brown);
}
section._06 .bg_square .po{
  position: relative;
}
section._06 .bg_square .round_square{
  position: absolute;
  left: 0;top: 0;
  height: 90px;
  width: 90px;
  background-color: var(--color-Brown);
  border-radius: 0 0 0 40px;
  transform: translateX(-100%);
}
section._06 .menu_box{
  position: relative;
  background-color: var(--color-Beige);
  border-radius: 50px;
  padding: 29px 0;
  width: 100%;
}
section._06 .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
}
section._06 .title{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section._06 .title h4{
  font-family: var(--font-popp);
  font-weight: 600;
  font-size: 54px;
  line-height: 62px;
  color: var(--color-Black);
  text-transform: uppercase;
}
section._06 .title p{
  font-family: var(--font-caveat);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: var(--color-Black);
}
section._06 .tag_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 40%;
  gap: 15px;
}
section._06 .tag{
  border: 1px solid var(--color-Black);
  font-family: var(--font-lato);
  border-radius: 40px;
  padding: 18px 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._06 .menu_group{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 23px;
  row-gap: 38px;
}
section._06 .menu{
  display: flex;
  flex-direction: column;
  gap: 26px;
}
section._06 .img_group{
  position: relative;
}
section._06 .img_group .img-box{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
section._06 .img_group img{
  width: 100%;
  transition: .3s;
}
section._06 .img_group .des_cover{
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  transform: translateX(100%);
  transition: .4s;
}
section._06 .img_group .des_rel{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-Orange);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-lato);
  font-size: 25px;
  line-height: 1.2;
  color: var(--color-Beige);
}
section._06 .img_group .des_btn{
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  background-color: var(--color-Orange);
  padding: 8px 10px;
  border-radius: 30px 0 0 30px;
  cursor: pointer;
  transition: .4s;
}
section._06 .menu .des_group{
  display: flex;
  justify-content: space-between;
}
section._06 .menu .des_group .name{
  font-family: var(--font-popp);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-Black);
  width: 100%;
  max-width: 290px;
}
section._06 .menu .des_group .des{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: var(--color-Orange);
}
section._06 .menu .des_group .capacity{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-Black);
}
section._06 .menu.show .img_group .des_cover{
  transform: translateX(0);
}
section._06 .menu.show .img_group .des_btn{
  right: 100%;
}
section._06 .bottom {
  margin-top: 46px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 17px;
}
section._06 .bottom .page_group{
  display: flex;
  align-items: center;
  gap: 20px;
}
section._06 .bottom p{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-Black);
}
section._06 .bottom .page{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-Black);
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
}
section._06 .bottom .page.on{
  background-color: var(--color-Dark);
  color: var(--color-White);
}

@media screen and (min-width: 768px) {
  .mov_btn:hover{
    filter: brightness(1.2);
    cursor: pointer;
  }
  section._01 .txt_group .icon_box .img-box{
    cursor: pointer;
  }
  section._01 .group_01 .img_group .arr-box{
    cursor: pointer;
  }
  section._01 .group_01 .img_group .arr-box img{
    transition: .3s;
  }
  section._01 .group_01 .img_group .arr-box:hover{
    background: #00000073;
    transition: .3s;
  }
  section._01 .group_01 .img_group .arr-box:hover img{
    transform: scale(1.2);
  }

  section._04 .img_group:hover img{
    scale: 1.05;
  }
  section._04 .img_group .des_btn:hover{
    padding-right: 13px;
  }
  section._04 .bottom .page:hover{
    background-color: #fff;
  }
  section._04 .bottom .page.on:hover{
    background-color: var(--color-Dark);
  }
}
@media screen and (max-width: 1300px){
  section._01 .txt_group h2{
    font-size: 100px;
    line-height: 1;
  }
}

@media screen and (max-width: 1024px){
  section._01{
    flex-direction: column;
    padding: 82px 0;
  }
  section._01 .wrap{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  section._01 .txt_group{
    position: relative;
    top: unset;
    transform: unset;
  }
  section._01 .s01_swiper_m{
    width: 100%;
  }
  section._01 .s01_swiper_m img{
    width: 100%;
  }

  section._02{
    padding-top: 60px;
  }
  section._02 .wrap{
    flex-direction: column-reverse;
  }
  section._02 .cont._r{
    text-align: center;
  }
  section._02 .cont._r .tag_group{
    display: none;
  }
  section._02 .cont._l{
    width: 100%;
    justify-content: center;
    min-height: unset;
  }
  section._02 .cont._l .l_group{
    display: none;
  }
  section._02 .cont._l > .img-box{
    width: 100%;
  }

  section._04 .top{
    flex-direction: column;
    text-align: center;
  }
  section._04 .tag_box{
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  section._04 .menu_group{
    grid-template-columns: 1fr 1fr;
  }
  section._04 .menu.show .img_group .des_btn{
    right: 0;
    opacity: 0;
  }
  section._04 .sell_group {
    width: 100%;
    background-color: var(--color-Brown);
    padding-bottom: 45px;
  }
  section._04 .sell_group .wrap{
    width: 100%;
  }
  section._04 .bean_group .cont_r{
    max-width: unset;
  }
  section._04 .bean_group .cont_r .price{
    flex-direction: column;
    margin-top: 25px;
  }
  section._04 .bean_group .cont_r .price p{
    color: var(--color-White);
  }
  section._04 .bean_group .cont_r h3{
    font-size: 54px;
    line-height: 1.2;
    width: 90%;
    margin: 0 auto;
  }
  section._04 .bean_group .cont_r > p{
    margin-top: 25px;
    text-align: center;
    color: var(--color-White);
    max-width: unset;
    width: 90%;
    margin: 0 auto;
  }
  section._04 .cont_l{
    display: none;
  }
  section._04 .bean_group .cont_r h3{
    color: var(--color-White);
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
  section._04 .bean_group .cont_r h3 span{
    color: var(--color-White);
  }
  section._04 .bean_group .cont_r h3 br{
    display: none;
  }
  section._04 .bean_group .cont_r .img-box{
    width: 100%;
    max-width: 1024px;
    margin-top: 30px;
  }

  section._05 .img_abs{
    display: none;
  }
  section._05 .roast{
    flex-wrap: wrap;
    justify-content: center;
  }
  section._05 .roast li{
    flex: unset;
    width: 44%;
  }

  section._06 .top{
    flex-direction: column;
    text-align: center;
  }
  section._06 .tag_box{
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  section._06 .menu_group{
    grid-template-columns: 1fr 1fr;
  }
  section._06 .menu.show .img_group .des_btn{
    right: 0;
    opacity: 0;
  }
}



@media screen and (max-width: 767px) {
  br{
    display: none;
  }
  section._01{
    padding: 72px 0;
  }
  section._01 .txt_group h2{
    font-size: 90px;
  }

  section._02 .cont._r h3{
    font-size: 45px;
    line-height: 1.2;
  }
  section._01 .s01_swiper_m{
    font-size: 24px;
  }

  section._03{
    padding: 58px 0;
  }
  section._03 h3{
    margin-bottom: 40px;
  }
  section._03 h4{
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.5;
  }
  section._03 .p_arrow{
    padding: 0 22px;
    font-size: 25px;
  }
  section._03 .p_arrow img{
    width: 11px;
  }
  section._03 .wrap > p{
    margin-bottom: 27px;
    line-height: 2;
    width: 100%;
  }

  section._04 .title h4{
    font-size: 45px;
  }
  section._04 .title p{
    font-size: 22px;
    line-height: 30px;
  }
  section._04 .bg_square{
    display: none;
  }
  section._04 .top{
    margin-bottom: 29px;
  }
  section._04 .menu_group{
    display: none;
  }
  section._04 .bottom{
    display: none;
  }
  section._04 .menu_swiper{
    width: 100%;
  }
  section._04 .tag_box{
    margin-top: 30px;
  }
  section._04 .menu .des_group .name{
    font-size: 22px;
    max-width: 250px;
  }

  section._05 .wrap{
    padding: 55px 0 50px 0;
  }
  section._05 h3{
    margin-bottom: 47px;
  }
  section._05 .wrap > p{
    margin-bottom: 36px;
  }
  section._05 .roast{
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  section._05 .roast li{
    padding: 21px 18px;
    width: calc(100% - 36px);
    max-width: 330px;
  }

  section._06 .title h4{
    font-size: 45px;
  }
  section._06 .title p{
    font-size: 22px;
    line-height: 30px;
  }
  section._06 .bg_square{
    display: none;
  }
  section._06 .top{
    margin-bottom: 29px;
  }
  section._06 .menu_group{
    display: none;
  }
  section._06 .bottom{
    display: none;
  }
  section._06 .menu_swiper{
    width: 100%;
  }
  section._06 .tag_box{
    margin-top: 30px;
  }
  section._06 .menu .des_group .name{
    font-size: 22px;
    max-width: 330px;
  }
}

@media screen and (max-width: 500px){
  section._01 .txt_group h2{
    font-size: 15vw;
  }
}