/* sec01 */
section._01{
  padding: 72px 0;
  background-color: var(--color-Dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .wrap{
  position: relative;
}
section._01 .txt_group{
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
}
section._01 .txt_group .icon_box{
  display: flex;
  align-items: center;
  gap: 14px;
}
section._01 .txt_group h2{
  font-family: var(--font-popp);
  font-weight: 700;
  font-size: 120px;
  line-height: 115px;
  color: #fff;
  text-transform: uppercase;
}
section._01 .txt_group h2 span{
  color: var(--color-Orange);
}
section._01 .txt_group > p{
  font-family: var(--font-caveat);
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
}
section._01 .txt_group .mov_btn{
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Orange);
  border-radius: 5px;
  max-width: 146px;
  height: 58px;
}
section._01 .banner-group .swiper-slide{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 25px;  
}
section._01 .group_01{
  max-width: 425px;
}
section._01 .group_01 .img_group{
  position: relative;
}
section._01 .group_01 .img_group .arr-box{
  position: absolute;
  bottom: 0;right: 0;
  transform: translateY(-30%);
  border: solid 2px #fff;
  border-radius: 50%;
  width: 67px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
section._01 .group_01 p{
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 21px;
}
section._01 .group_02{
  position: relative;
  top: 20px;
}
section._01 .swiper{
  overflow: visible;
}

/* sec02 */
section._02{
  background-color: var(--color-Brown);
  min-height: 666px;
}
section._02 .wrap{
  display: flex;
  align-items: center;
}
section._02 .cont._l{
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 82%;
  min-height: 666px;
}
section._02 .cont._l .txt-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-White);
  background-color: var(--color-Dark);
  border-radius: 8px 0 0 4px;
  padding: 19px 13px;
  padding-right: 40px;
}
section._02 .cont._l .l_group{
  position: absolute;
  left: 0;top: 0;
  width: 40%;
}
section._02 .cont._l > .img-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 70%;
}
section._02 .cont._l .l_group > .img-box{
  position: relative;
  top: 50px;
}
section._02 .cont._r{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section._02 .cont._r h3{
  font-family: var(--font-popp);
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  color: var(--color-White);
  text-transform: uppercase;
}
section._02 .cont._r p{
  font-family: var(--font-lato);
  font-size: 18px;
  line-height: 26px;
  color: var(--color-White);
}
section._02 .cont._r .tag_group{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-White);
}
section._02 .cont._r .tag{
  border: 2px solid var(--color-White);
  border-radius: 40px;
  padding: 18px 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sec03 */
section._03{
  padding: 96px 0;
  text-align: center;
  background-color: var(--color-Beige);
}
section._03 h3{
  margin-bottom: 56px;
  font-family: var(--font-popp);
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: var(--color-Black);
  text-transform: uppercase;
}
section._03 h4{
  margin-bottom: 60px;
  font-family: var(--font-popps);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  color: var(--color-Black);
  text-transform: uppercase;
}
section._03 .p_arrow{
  position: relative;
  background-color: var(--color-Black);
  border-radius: 30px;
  padding: 0px 30px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 28px;
}
section._03 .p_arrow img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section._03 .wrap > p{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 35px;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  color: var(--color-Black);
}
section._03 .mov_btn{
  margin: 0 auto;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Orange);
  border-radius: 5px;
  max-width: 146px;
  height: 58px;
  color: var(--color-Beige);
}

@media screen and (min-width: 768px) {
  section._01 .txt_group .mov_btn:hover{
    filter: brightness(1.2);
    cursor: pointer;
  }
  section._01 .txt_group .icon_box .img-box{
    cursor: pointer;
  }
  section._01 .group_01 .img_group .arr-box{
    cursor: pointer;
  }
  section._01 .group_01 .img_group .arr-box img{
    transition: .3s;
  }
  section._01 .group_01 .img_group .arr-box:hover{
    background: #00000073;
    transition: .3s;
  }
  section._01 .group_01 .img_group .arr-box:hover img{
    transform: scale(1.2);
  }
}
@media screen and (max-width: 1300px){
  section._01 .txt_group h2{
    font-size: 100px;
    line-height: 1;
  }
}

@media screen and (max-width: 1024px){
  section._01{
    flex-direction: column;
    padding: 82px 0;
  }
  section._01 .wrap{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  section._01 .txt_group{
    position: relative;
    top: unset;
    transform: unset;
  }
  section._01 .s01_swiper_m{
    width: 100%;
  }
  section._01 .s01_swiper_m img{
    width: 100%;
  }

  section._02{
    padding-top: 60px;
  }
  section._02 .wrap{
    flex-direction: column-reverse;
  }
  section._02 .cont._r{
    text-align: center;
  }
  section._02 .cont._r .tag_group{
    display: none;
  }
  section._02 .cont._l{
    width: 100%;
    justify-content: center;
    min-height: unset;
  }
  section._02 .cont._l .l_group{
    display: none;
  }
  section._02 .cont._l > .img-box{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  br{
    display: none;
  }
  section._01{
    padding: 72px 0;
  }
  section._01 .txt_group h2{
    font-size: 90px;
  }

  section._02 .cont._r h3{
    font-size: 45px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 500px){
  section._01 .txt_group h2{
    font-size: 15vw;
  }
}