.login_filter{
    position: fixed;
    z-index: 9999999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000ad;
    backdrop-filter: blur(20px);
    display: none;
}
/* 로그인 레이아웃 */
.login_bg{
    position: fixed;
    z-index: 9999999999999;
    top: 20%;
    left: calc(50% - 300px);
    right: 0;
    bottom: 0;
    display: none;
    max-width: 600px;
    width: 100%;
}
.login_layout{
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 35px 50px;
    box-sizing: border-box;
    font-family: 'Pretendard';
    max-height: 600px;
    overflow-y: auto;
}
.login_layout{
    -ms-overflow-style: none;
 }
 .login_layout::-webkit-scrollbar{
   display:none;
 }
.login_logo{
    text-align: center;
    margin-bottom: 35px;
}
.close_login{
    position: absolute;
    top: 25px;
    right: 25px;
    transition: all ease 0.5s;
    cursor: pointer;
}
.close_login:hover{
    transform: rotate( 360deg );
}
.full_input input[type="text"], 
.full_input input[type="password"]
{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgba(23, 46, 89, 0.10);
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 25px;
    color: #1A1A1A;
}
.full_input input[type="text"]::placeholder,
.full_input input[type="password"]::placeholder
{
    color: #1a1a1a3f;
}
.login_layout .login_submit input[type="submit"]{
    margin-top: 20px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
}
.login_layout .login_submit{
    margin-bottom: 20px;
}
.login_submit input[type="submit"]{
    background-color: #2473C7;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    border: none;
}

/* 회원가입. 아이디찾기 버튼 */
.join_finding{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Pretendard';
    margin-bottom: 20px;
}
.join_finding li{
    color: #AAADAF;
}
.join_finding li p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height: 25px;
}
.join_finding li p:hover{
    color: #333;
}
/* sns 로그인 버튼 */
.sns_line{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.sns_line li:nth-child(1),
.sns_line li:nth-child(3){
    width: 40%;
}
.sns_line li:nth-child(1) hr,
.sns_line li:nth-child(3) hr{
    width: 100%;
    border:solid 1px #BBBCBA;
}
.sns_line li:nth-child(2) p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #BBBCBA;
    line-height: 25px;
} 
.sns_login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media screen and (max-width: 768px){
    .login_bg{
        width: 90%;
        top: calc(50% - 316px);
        left: calc(50% - 45%);
    }
    .login_layout{
        padding: 20px 15px;
    }
    .sns_line li:nth-child(1), .sns_line li:nth-child(3) {
        width: 30%;
    }
    .sns_login{
        flex-direction: column;
        gap: 10px;
    }
    .login_logo{
        max-width: 130px;
        width: 100%;
        margin: 0 auto 20px;
    }
    .close_login{
        max-width: 20px;
        width: 100%;
    }
}
/* 회원가입 폼 */
.join_se{
    display: none;
}
.join_info_title { 
    color: #000; 
    font-family: Pretendard; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 400; 
    margin-bottom: 20px; } 
.join_info_title span { 
    color: #A48362; 
} 
.join_area { 
    height: 150px; 
    width: 100%; 
    border-radius: 10px; 
    border: 1px solid #BBBCBA;
    background: #FFF; 
    resize: none; 
    padding: 20px; 
    line-height: 1.5; 
    font-family: 'Pretendard'; 
    box-sizing: border-box; 
} 
.check_layout { 
    padding-left: 15px; 
    position: relative; 
    margin-top: 15px; } 
.check_layout input[type=checkbox] { 
    appearance: initial
}
.check_layout label { 
    font-size: 16px; 
    color: #000; 
    cursor: pointer; } 
.check_layout label::after { 
    transition: 0.4s; 
    content: ''; 
    position: absolute; 
    width: 20px; 
    height: 20px; 
    border-radius: 5px; 
    border: 1px solid #BBBCBA; 
    background-color: #fff; 
    box-sizing: border-box; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 0; 
} 
.check_layout label::before { 
    z-index: 2; 
    transition: 0.4s; 
    opacity: 0; 
    content: ''; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-70%) rotate(315deg); 
    left: 3px; width: 15px; 
    height: 8px; 
    box-sizing: border-box; 
    border-bottom: 3px solid #1A5198; 
    border-left: 3px solid #1A5198; 
} 
.check_layout label:hover::before { 
    opacity: 0.5; 
} 
.check_layout input:checked~label::before { 
    opacity: 1; 
} 
.join_info .required_text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #A48362;
    text-align: right;
}
.join_box{
    font-family: 'Pretendard';
    margin-bottom: 20px;
}
.join_box li{
    border-top: solid 1px #BBBCBA;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
}
.join_box li label{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    width: 30%;
    line-height: 30px;
}
.join_box li label span{
    width: 5px;
    height: 5px;
    background-color: #A48362;
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;

}
.join_box .one input[type="text"]{
    box-sizing: border-box;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #BBBCBA;
    background: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 20px;
}
.join_box .one input[type="password"]{
    box-sizing: border-box;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #BBBCBA;
    background: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 20px;
}
.join_box .three .layout_box{
    display: flex;
    gap: 15px;
    width: 70%;
    align-items: center;
}
.join_box .three .layout_box input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #BBBCBA;
    background: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 20px;
}
.join_box .three .layout_box select{
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #BBBCBA;
    background: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 20px;
}
.join_box .two{
    gap: 15px;
}
.join_se .join_btn{
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background:  #00465F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .join_info_title{
        font-size: 18px;
    }
    .check_layout label{
        font-size: 14px;
    }
    .join_info .required_text{
        font-size: 14px;
    }
    .join_box li label,
    .join_box .one input[type="text"],
    .join_box .one input[type="password"],
    .join_box .three .layout_box input[type="text"],
    .join_box .three .layout_box select{
        font-size: 16px;
    }
    .join_box .one input[type="text"],
    .join_box .one input[type="password"],
    .join_box .three .layout_box input[type="text"],
    .join_box .three .layout_box input[type="text"]{
        padding: 10px;
    }
    .join_se .join_btn{
        font-size: 16px;
    }
    .join_box li{
        align-items: center;
        padding: 10px 0;
        flex-direction: column;
    }
    .join_box li label{
        width: 100%;
    }
    .join_box .one input[type="text"],
    .join_box .one input[type="password"]{
        width: 100%;
    }
    .join_box .three .layout_box{
        width: 100%;
    }
    .join_box .three .layout_box select{
        padding: 10px;
    }
    .join_box{
        margin-bottom: 10px;
    }
    .join_box .two{
        flex-direction: row;
    }
}
/* 아이디찾기 폼 */
.finding_se{
    display: none;
}
.finding_se .tab_menu{
    display: flex;
}
.finding_se .tab_menu li{
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    color: #0000004b;
    border-bottom: solid 1px #0000004b;
}
.finding_se .tab_menu li.on{
    color: #333;
    border-bottom: solid 1px #000;
}
.finding_se .join_box li{
    align-items: center;
}
.finding_se .join_box li input[type="text"]::placeholder{
    font-size: 18px;
}
.finding_se .find_id_btn{
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background:  #00465F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
    border: none;
    cursor: pointer;
}
/* 아이디 찾기 완료 */
.finding_id{
    display: none;
}
.finding_id_layout{
    display: none;
}
.finding_done{
    text-align: center;
    margin: 50px auto;
}
.finding_id .finding_title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #000;
    line-height: 30px;
    text-align: center;
    
}
.finding_id .finding_title span{
    color: #00465F;
}
.finding_id .find_last_btn{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background:  #00465F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
    border: none;
    cursor: pointer;
    text-align: center;
}
.finding_password_layout{
    display: none;
}
.finding_id .finding_password_layout .finding_title{
    margin-bottom: 15px;
}
.finding_id .finding_password_layout .finding_text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #000;
}
.finding_pass_txt{
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
.finding_pass_info{
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    padding: 30px 0;
    box-sizing:border-box;
    border-bottom: solid 1px #BBBCBA;
}
.finding_pass_email{
    width: 25%;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}
.finding_pass_input{
    width: 100%;
    gap: 10px;
}
.finding_pass_input input[type="text"]{
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #BBBCBA;
    background: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 20px;
    width: 78%;
}
.finding_pass_input input[type="button"]{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #BBBCBA;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
}
.finding_pass_input2{
    width: 100%;
    display: none;
}
.finding_pass_input2 input[type="text"]{
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #BBBCBA;
    background: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 20px;
    width: 100%;
}
.finding_pass_input2 input[type="button"]{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #BBBCBA;
    border-radius: 10px;
    border: none;
    padding: 15px 20px;
}
.pass_layout{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.pass_check_text{
    margin: 5px auto 25px;
    display: none;
}
.pass_check_text p{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #00465F;
    line-height: 25px;
    text-align: right;
}
.finding_se .find_pw_btn{
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background:  #00465F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
    border: none;
    cursor: pointer;
}
.change_pass{
    display: none;
}
.mo_finding_pass_input2{
    display: flex;
    gap: 5px;
}
.mo_finding_pass_input2 >div{
    position: relative;
    width: 100%;
}
.check_timer{
    position: absolute;
    top: 30%;
    right: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #00000046;
}
@media screen and (max-width: 768px){
    .finding_se .tab_menu li{
        font-size: 16px;
    }
    .finding_se .join_box li input[type="text"]::placeholder{
        font-size: 14px;
    }
    .finding_pass_input{
        display: flex;
        gap: 10px;
    }
    .finding_pass_input2  .mo_finding_pass_input2{
        display: flex;
        gap: 10px;
    }
    .finding_pass_email{
        width: 100%;
    }
    .finding_pass_input input[type="text"],
    .finding_pass_input2 input[type="text"]{
        font-size: 16px;
        padding:15px 10px;
        width: 100%;
    }
    .finding_pass_input input[type="button"],
    .finding_pass_input2 input[type="button"]{
        font-size: 16px;
    }
    .pass_layout{
        width: 100%;
    }
    .finding_pass_email label{
        font-size: 16px;
    }
    .finding_pass_info{
        flex-direction: column;
    }
    .pass_check_text p{
        font-size: 14px;
    }
    .finding_pass_txt{
        font-size: 16px;
    }
    .pass_check_text{
        margin: 5px auto;
    }
    .finding_id .find_last_btn{
        margin-top: 35px;
    }
}