@charset "UTF-8";
section{
  position: relative;
}
section._01{
  height: 100vh;
}
section._01 .wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section._01 dl{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20vh;
}
section._01 dt{
  position: relative;
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 100px;
  color: var(--color-Black);
  overflow: hidden;
}
section._01 dt span{
  position: absolute;
  left: -5px;right: -5px;
  top: 0;bottom: 0;
  background-color: var(--color-Main);
  z-index: -1;
  transform: translateX(-105%);
}
section._01 .scroll{
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  z-index: 2;
}
section._01 .scroll span{
  letter-spacing: -5px;
  opacity: 0;
  animation: scrollAnime 2s linear infinite;;
}
section._01 .scroll span:nth-child(2){
  animation-delay: .1s;
}
section._01 .scroll span:nth-child(3){
  animation-delay: .2s;
}
section._01 .scroll span:nth-child(4){
  animation-delay: .3s;
}
section._01 .scroll span:nth-child(5){
  animation-delay: .4s;
}
section._01 .scroll span:nth-child(6){
  animation-delay: .5s;
  margin-right: 5px;
}
section._01 .scroll span:nth-child(7){
  animation-delay: .6s;
}
section._01 .scroll span:nth-child(8){
  animation-delay: .7s;
}
section._01 .scroll span:nth-child(9){
  animation-delay: .8s;
}
section._01 .scroll span:nth-child(10){
  animation-delay: .9s;
}
section._01 .img-wrap{
  position: absolute;
  width: 100%;
  top: 60vh;
}
section._01 .img-wrap .img-box{
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  background-color: var(--color-Grey);
  width: 100%;
}
section._01 .img-wrap .img-box img{
  object-fit: cover;
  width: 100%;
}

section._02{
  min-height: 100vh;
}

section._03{
  min-height: 700vh;
  background-color: var(--color-Black);
  /* display: flex;
  align-items: center; */
}
section._03 .bg_gr{
  position: absolute;
  left: 0;right: 0;
  top: 0;
  height: 30vh;
  background: linear-gradient(to bottom, #121212, var(--color-Black));
}
section._03 .bg_txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section._03 .cont-group{
  position: relative;
  display: flex;
  align-items: start;
  gap:180px;
  z-index: 1;
}
section._03 .cont._l{
  width: 34%;
}
section._03 .cont._r{
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section._03 .cont .img-group{
  position: relative;
}
section._03 .cont .img-box{
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-Grey);
  z-index: 2;
}
section._03 .cont .img-border{
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  border-radius: 50px;
  border: 1px solid var(--color-Main);
  opacity: 0;
  z-index: 1;
}
section._03 .cont .tit{
  padding-left: 5px;
  overflow: hidden;
}
section._03 .cont .tit .tit_line{
  display: flex;
  align-items: center;
  gap: 5px;
}
section._03 .cont h3{
  position: relative;
  font-family: var(--font-Score);
  font-weight: 200;
  font-size: 40px;
  color: #fff;
  line-height: 1.5;
  z-index: 2;
  letter-spacing: -0.04rem;
}
section._03 .cont h3 .bold{
  font-weight: 700;
}
section._03 .cont .h3_box{
  position: relative;
}
section._03 .cont .sp_bg{
  position: absolute;
  left: -5px;right: -5px;
  top: 0;bottom: 0;
  transform: translateX(-105%);
  background-color: var(--color-Main);
  z-index: 1;
}
section._03 .cont p{
  font-family: var(--font-Score);
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -0.04rem;
}

.marquee_group{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  /* opacity: 0; */
}
.marquee{
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  width: max-content;
  left: 50%;
  /* transform: translateX(-50%); */
  opacity: 0;
}
.marquee._01{
  left: calc(50% - 2%);
}
.marquee._02{
  left: calc(50% + 5%);
}
.marquee._03{
  left: calc(50% - 2%);
}
.marquee_box{
  background-color: var(--color-Grey);
  border-radius: 30px;
  height: 155px;
  width: 30%;
  min-width: 935px;

}
.marquee_box.word{
  display: flex;
  align-items: center;justify-content: center;
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 100px;
  color: var(--color-Black);
  letter-spacing: 25px;
  padding: 0 30px;
  width: unset;
  min-width: unset;
}
.marquee_box.word p{
  position: relative;
  right: -12px;
}

.marquee._01 .word{
  background-color: var(--color-Yellow);
}
.marquee._02 .word{
  background-color: var(--color-Main);
}
.marquee._03 .word{
  background-color: var(--color-Pink);
}

section._04{
  min-height: 100vh;
  background-color: var(--color-Black);
  overflow: hidden;
}
section._04 .pin_txt{
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 100px;
  color: #ffffff36;
  text-align: center;
  opacity: 0;
}
section._04 .pin_txt span{
  font-weight: 300;
}
section._04 .cont-group{
  display: flex;
  justify-content: space-between;
  margin-top: 200vh;
  gap: 20px;
}
section._04 .cont{
  width: 100%;
  display: flex;
  flex-direction: column;
}
section._04 .cont._r{
  margin-top: 410px;
}
section._04 .port_group{
  display: flex;
  align-items: start;
  gap: 10px;
  width: 100%;
  max-width: 550px;
}
section._04 .port_group.item_r{
  margin-left: auto;
}
section._04 .port_group:nth-child(2){
  transform: translateY(-30%);
}
section._04 .port_group:nth-child(3){
  transform: translateY(-60%);
}
section._04 .port_group:nth-child(4){
  transform: translateY(-90%);
}
section._04 .port_group:nth-child(5){
  transform: translateY(-120%);
}
section._04 .port_group .img-wrap{
  position: relative; 
  width: 100%;
}
section._04 .port_group .img-wrap::after{
  content: "";
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  background: linear-gradient(to top, #3F3F3F, #D9D9D9);
  border-radius: 30px;
  z-index: 1;
  transition: .4s;
}

section._04 .port_group .img-box{
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 280px;
  aspect-ratio: 693 / 805;
  background-color: var(--color-Grey);
}
section._04 .port_group .tit_group{
  position: absolute;
  left: 45px;bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: var(--font-Score);
  color: #fff;
  z-index: 2;
  transition: .4s;
}

section._04 .port_group .tit_group h4{
  font-weight: 700;
  font-size: 50px;
}
section._04 .port_group .tit_group p{
  font-weight: 300;
  font-size: 20px;
}
section._04 .port_group .port_num{
  font-family: var(--font-Score);
  font-weight: 300;
  font-size: 20px;
  color: var(--color-LightGrey);
  writing-mode: vertical-lr;
}
section._04 .port_group .port_num p{
  transform: rotate(180deg);
}
section._04 .port_group .port_num span{
  font-weight: 700;
  color: #fff;
}
section._05{
  height: calc(100vh - 100px);
  padding-top: 100px;
  margin-top: 100px;
}
section._05 .title{
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: 80px;
  color: var(--color-Black);
  background-color: var(--color-Main);
  padding: 20px 0;
  padding-left: 205px;
  padding-right: 20px;
  width: 100%;
  max-width: 550px;
}

@keyframes scrollAnime {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@media screen and (min-width: 768px) {
  section._04 .port_group .img-wrap::after{
    opacity: 1;
  }
  section._04 .port_group .img-wrap:hover::after{
    opacity: 0;
  }
  section._04 .port_group .tit_group{
    overflow: hidden;
    height: 100%;
    max-height: 52px;
  }
  section._04 .port_group .img-wrap:hover .tit_group{
    max-height: 100px;
  }
}

@media screen and (max-width: 1490px) {
  section._03 .cont-group{
    gap: 100px;
  }
  section._03 .cont._r{
    width: unset;
  }
  .marquee_box.word{
    font-size: 80px;
  }
}

@media screen and (max-width: 1250px) {
  section._01 dt{
    font-size: 70px;
  }
  section._02{
    min-height: 500px;
  }
  section._03 .cont-group{
    gap: 20px;
    justify-content: space-between;
  }
  section._03 .cont h3{
    font-size: 35px;
  }
  section._03 .cont p{
    font-size: 16px;
  }
  section._03 .cont._r{
    width: 60%;
  }
  .marquee_box{
    height: 115px;
  }
  .marquee_box.word{
    font-size: 50px;
  }
  section._04 .port_group{
    max-width: 450px;
  }
  section._04 .port_group .tit_group h4{
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px) {
  section._03 .cont-group{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section._03 .cont._l{
    width: 100%;
    max-width: 400px;
  }
  section._03 .cont._r{
    width: 100%;
    max-width: 500px;
  }
  section._03 .cont .img-border{
    display: none;
  }
  section._03 .cont .tit{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  section._03 .cont .tit .tit_line{
    text-align: center;
    justify-content: center;
  }
  section._03 .cont p{
    display: none;
  }
  .marquee_group{
    gap: 20px;
  }
  .marquee{
    gap: 20px;
  }
  .marquee_box{
    height: 17vh;
  }
  .marquee_box.word{
    font-size: 3rem;
    letter-spacing: 1.2rem;
  }
  section._04 .pin_txt{
    font-size: 80px;
  }
  section._04 .port_group{
    max-width: 400px;
  }
  section._04 .port_group .tit_group{
    left: 30px;
    bottom: 30px;
    gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .marquee_box.word{
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  section._04 .port_group{
    max-width: 350px;
  }
  section._04 .port_group .tit_group h4{
    font-size: 35px;
  }
}

@media screen and (max-width: 800px) {
  .marquee._02{
    left: calc(50% + 4%);
  }
  .marquee_box{
    min-width: 400px;
  }
  .marquee_box.word{
    font-size: 1.3rem;
    letter-spacing: .8rem;
  }
  section._04 .pin_txt{
    font-size: 60px;
  }
}

@media screen and (max-width: 769px) {
  section._01{
    padding-top: 15vh;
  }
  section._01 .wrap{
    display: block;
  }
  section._01 dl{
    flex-direction: column;
    margin-bottom: 0;
    gap: 5px;
  }
  section._01 .scroll{
    bottom: 20vh;
  }
  section._01 .img-wrap .img-box img{
    min-height: 1000px;
    object-position: center bottom;
  }
  section._04 .pin_txt{
    font-size: 7vh;
  }
  section._04 .cont {
    gap: 50px;
  }
  section._04 .port_group{
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  section._04 .port_group.item_r{
    margin: 0 auto;
  }
  section._04 .port_group:nth-child(2),
  section._04 .port_group:nth-child(3),
  section._04 .port_group:nth-child(4),
  section._04 .port_group:nth-child(5){
    transform: unset;
  }
  section._04 .port_group .port_num{
    writing-mode: inherit;
  }
  section._04 .port_group .port_num p{
    transform: unset;
  }
}

@media screen and (max-width: 500px) {
  .marquee_group{
    gap: 10px;
  }
  .marquee{
    gap: 10px;
  }
  .marquee_box{
    height: 15vh;
    max-height: 80px;
  }
  .marquee_box.word{
    font-size: 1rem;
    padding: 0 15px;
  }
  section._03 .cont .img-box{
    max-width: 330px;
    margin: 0 auto;
  }
  section._04 .cont{
    flex-direction: column;
  }
  section._03 .cont h3{
    font-size: 30px;
  }
  section._04 .port_group .tit_group{
    gap: 15px;
  }
  section._04 .port_group .tit_group h4{
    font-size: 1.8rem;
  }
  section._04 .port_group .tit_group p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 435px){
  section._03 .cont h3{
    font-size: 25px;
  }
  section._04 .pin_txt{
    font-size: 8vw;
  }
  section._04 .port_group .img-box{
    min-width: unset;
  }
}
