/* body{
  cursor: none;
}
section{ padding: 0 200px;}
h1, h1 *{font-family: 'GmarketSansMedium', sans-serif; cursor: pointer;}
h2{margin-top: 120px; font-family: 'GmarketSansMedium', sans-serif; white-space: nowrap;}
.container{ padding: 0 200px; }
video::-webkit-media-controls-fullscreen-button {
	display: none;
} */

/* cursor custom */
.cursor{
  width: 3rem;
  height: 3rem;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}

/* Loading */
.loader{
  position: fixed;
  display: flex;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
}
.loader.none{
  display: none;
}
.bar{
  background-color: #191919;
  width: 20%;
  animation-name: loading;
  animation-delay: .2s;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.bar:nth-child(2){
  animation-delay: .3s;
}
.bar:nth-child(3){
  animation-delay: .4s;
}
.bar:nth-child(4){
  animation-delay: .5s;
}
.bar:nth-child(5){
  animation-delay: .6s;
}

@keyframes loading{
  from{
    height: 100vh;
  }
  to{
    height: 0;
  }
}

/* fixed */
.fixed{  
  opacity: 1;
  position: relative;
  z-index: 999;
  transition: .3s;
}
/* kakao QR */
.kakao{
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: .4s;
}
.kakao img{
  width: 120px;
}
.fixed .text{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  transition: .4s;
}
.fixed .text p{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  cursor: default;
  mix-blend-mode: difference;
}
.fixed .text:hover{
  opacity: .6;
  animation-name: opacity_ani;
  animation-delay: 2.2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fixed.none{
  opacity: 0;
}
.fixed.none .text{
  bottom: -100%;
}
.fixed.none .kakao{
  bottom: -100%;
}
#topBtn{
  position: relative;
  opacity: 1;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  transition: .4s;
  cursor: pointer;
  border: 1px solid #191919;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  overflow: hidden;
}
#topBtn.none{
  opacity: 0;
  z-index: -1;
  bottom: -100%;
}
#topBtn .material-symbols-sharp{
  font-weight: 200;
  transform: rotate(-90deg);
  color: #f7f6f1;
  position: relative;
  bottom: 0;
}
#topBtn:hover{
  transition-delay: .15s;
  filter: drop-shadow(0px 0px 6px black);
}
#topBtn:hover .material-symbols-sharp{
  animation: topBtnAnimate .2s linear forwards;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  position: relative;
  overflow:hidden
}
header.fix{
  position: fixed;
  background-color: #f7f6f1;
  left: 0;
  right: 0;
  z-index: 1000;
}
header h1{
  height: 36px;
  transform: translateY(100px);
  font-size: 30px;
  transition: .5s ;
  perspective: 600px;
  white-space: nowrap;
  animation-name: toUp;
  animation-delay: 1.7s;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
header h1 .logo_wrapper{
  width: 100%; height: 100%;
  position: relative;
  transition: transform .4s;
  transform-style: preserve-3d;
}
header h1 .logo_wrapper > div{
  position: absolute;
  width: 170px;
  height: 31px;
  backface-visibility: hidden;
  background-repeat: no-repeat;
}
header h1 .logo1{
  background-image: url(../img/logo_1.svg);
  transform: translateZ(18px);
}
header h1 .logo2{
  background-image: url(../img/logo_2.svg);
  color: transparent;
  transform: rotateX(-90deg);
  bottom: -8px;
}
header h1:hover .logo_wrapper{
  transform: rotateX(90deg);
}
header ul{
  display: flex;
  margin-right: auto;
  margin-left: 210px;
  opacity: 0;
  animation-name: opacity_ani;
  animation-delay: 2.2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
header ul li{
  margin: 0 10px;
  position: relative;
}
header ul li a{
  font-weight: 100;
  text-transform: uppercase;
}
header ul li::before{
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 5px;
  background-color: #191919;
  opacity: 0;
  rotate: -10deg;
  top: 10px;
  transition: .3s;
  cursor: pointer;
}
header ul li:hover{
  opacity: .7;
}
header ul li.scene::before{
  opacity: .3;
}
header::after{
  content: "";
  background-color: #191919;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: navi_width;
  animation-delay: 1s;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/* banner */
.main_banner{
  position: relative;
  height: 650px;
  overflow: hidden;
}
.main_banner.none .video_wrapper{
  height: 0;
}
.main_banner .video_wrapper{
  height: inherit;
  overflow: hidden;
  position: relative;
  z-index: -1;
  transition: 2.5s;
  transition-delay: 1.6s;
}
.video_wrapper video{
  width: 100%;
  position: absolute;
  z-index: -1;
}
.video_wrapper p{
  text-transform: uppercase;
  line-height: .83;
  font-size: 847px;
  font-family: 'Bebas Neue';
  font-weight: 900;
  text-align: center;
  letter-spacing: -4px;
  animation: bannerTextMove 25s linear infinite;
  background-color: #f7f6f1;
  color: black;
  mix-blend-mode: lighten;
}

/* introduce */
.introduce > div{
  display: flex;
  justify-content: space-between;
}
.introduce .pic{
  background-image: url(../img/seohee.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 310px;
  height: 400px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.introduce .pic p{
  position: relative;
  text-transform: uppercase;
  color: #cecece2b  ;
  filter: drop-shadow(0 0 3px #cecece);
  font-size: 110px;
  font-weight: 600;
  white-space: pre;
  z-index: -1;
  line-height: 1;
}
.introduce .pic p:nth-child(1){
  right: -160px;
}
.introduce .pic p:nth-child(2){
  right: -250px;
}
.introduce .pic p:nth-child(3){
  right: -230px;
}
.introduce .text.show,
.introduce h2.show + div .text{
  opacity: 1;
} 
.introduce .text{
  opacity: 0;
  width: 533px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
  transition-delay: .3s;
}
.introduce .text p:nth-child(1){
  font-size: 50px;
  font-weight: 700;
}
.introduce .text a{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
.introduce .text a:hover span{
  position: relative;
}
.introduce .text a:hover span:nth-child(1){
  animation: bounce .2s ease-in forwards;
  animation-delay: .1s;
}
.introduce .text a:hover span:nth-child(2){
  animation: bounce .2s ease-in forwards;
  animation-delay: .2s;
}
.introduce .text a:hover span:nth-child(3){
  animation: bounce .2s ease-in forwards;
  animation-delay: .3s;
}
.introduce .text a:hover span:nth-child(4){
  animation: bounce .2s ease-in forwards;
  animation-delay: .4s;
}
.introduce .text a:hover span:nth-child(5){
  animation: bounce .2s ease-in forwards;
  animation-delay: .5s;
}

/* portfolio */
.portfolio{
  margin-bottom: 250px;
}
.portfolio h2{
  filter: invert(1);
  mix-blend-mode: exclusion;
  position: sticky;
  top: 14%;
  z-index: 10;
}
.portfolio li{
  display: flex;
  margin-bottom: 250px;
  opacity: 0;
  transition: .8s;
}
.portfolio li:last-child{
  margin-bottom: 0;
}
.portfolio li.show{
  opacity: 1;
}
.por_imgs{
  width: 550px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.15);
}
.por_img{
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/main/portfolio/week1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transform: scale(1);
  transition: .3s;
}
.por_imgs:hover .por_img{
  transform: scale(1.1);
}
.portfolio li:nth-child(1) .por_img{
  background-image: url(../../assets/images/main/portfolio/week1.png);
}
.portfolio li:nth-child(2) .por_img{
  background-image: url(../../assets/images/main/portfolio/week2.png);
}
.portfolio li:nth-child(3) .por_img{
  background-image: url(../../assets/images/main/portfolio/portfolio_1.png);
}
.portfolio li:nth-child(4) .por_img{
  background-image: url(../../assets/images/main/portfolio/portfolio_2.png);
}
.portfolio .title{
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
}
.portfolio .des {
  font-size: 17px;
  font-weight: 300;
  transform: translateY(-200%);
  transition: .8s;
  transition-delay: .5s;
  opacity: 0;
  margin: 10px 0;
}
.portfolio li.right {
  margin-left: auto;
  justify-content: end;
}
.portfolio li.right .por_imgs{
  order: 1;
}
.portfolio li.right .text{
  order: 0;
  text-align: right;
}
.portfolio li.show .des {
  transform: translateY(0);
  opacity: 1;
}
.portfolio .text{
  margin: 0 50px;
}

/* study */
.study{
  padding: 0;
  margin-bottom: 100px;
}
.study h2{
  padding: 0 200px;
}
.study .mySwiper{
  padding: 20px;
}
.study .swiper-slide{
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 7px 15px 0 rgba(0,0,0,0.15);
  transition: all 0.3s;
}
.study .swiper-slide:hover{
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.study .notionItem{
  height: 400px;
  left: 0;
  top: 0;
  border-radius: 20px;
  z-index: 1;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.notionItem .txtBox{
  padding: 25px;
}
.notionItem .top{
  display: flex;
}
.notionItem .label{
  background-color: #191919;
  border-radius: 20px;
  color: #f7f6f1;
  width: fit-content;
  padding: 3px 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  margin-right: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notionItem .title{
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0;
}
.notionItem .tag{
  font-size: 13px;
  font-weight: 400;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notionItem .bg{
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.swiper-slide:nth-child(1) .notionItem .bg{
  background-image: url(../img/study/1_bg.jpg);
  background-position: left center;
}
.swiper-slide:nth-child(2) .notionItem .bg{
  background-image: url(../img/study/2_bg.jpg);
}
.swiper-slide:nth-child(3) .notionItem .bg{
  background-image: url(../img/study/3_bg.jpg);
}
.swiper-slide:nth-child(4) .notionItem .bg{
  background-image: url(../img/study/4_bg.png);
}
.swiper-slide:nth-child(5) .notionItem .bg{
  background-image: url(../img/study/5_bg.jpg);
}
.swiper-slide:nth-child(6) .notionItem .bg{
  background-image: url(../img/study/6_bg.jpg);
}
.swiper-slide:nth-child(7) .notionItem .bg{
  background-image: url(../img/study/7_bg.jpg);
}

/* contact */
.contact{
  padding: 180px 0;
  padding-top: 80px;
}
.contact a,
.contact p{
  text-align: center;
}
.contact a{
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .blend{
  mix-blend-mode: unset;
}
.contact h3{
  font-size: 80px;
  font-weight: 500;
  background-color: #f7f6f1;
  color: #191919;
  white-space: nowrap;
  margin: 0;
  z-index: 1;
  position: relative;
  transform: translateX(0);
  transition: .5s;
}
.contact h3::before{
  content: "오픈채팅방으로 이동";
  -webkit-text-stroke: 2px #191919;
  position: absolute;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  transition: .5s;
}
.contact .arrow{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 2px solid;
  width: 90px;
  border-radius: 30px;
  top: 37px;
  right: 424px;
  transition: .5s;
  opacity: 0;
}
.contact .material-symbols-sharp{
  font-size: 45px;
  font-weight: 200;
}
.contact a:hover h3{
  transform: translateX(-110px);
}
.contact a:hover h3:before{
  width: 100%;
}
.contact a:hover .arrow{
  opacity: 1;
}
.contact p{
  font-size: 25px;
  font-weight: 500;
  margin: 40px 0;
}

/* footer */
footer{
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #969696;
}

/* section observer */
h2{
  opacity: 0;
  transition: 1s
}
h2.show { 
  opacity: 1;
}



@media(min-width:1700px){
  .contact .arrow{
    right: 510px;
  }
}

@media(min-width:1920px){
  .contact .arrow{
    right: 605px;
  }
}

/* tablet */
@media(max-width: 1511px){
  section{ padding: 0 100px; }
  .container{ padding: 0 100px; }

  header{
    padding: 0 100px;
  }

  .main_banner{
    height: 86vh;
  }
  .video_wrapper p{
    font-size: 750px;
  }

  .introduce .pic p{
    font-size: 80px;
  }
  .introduce .text p:nth-child(1){
    font-size: 45px;
  }
  
  .study .swiper-slide-active{
    transform: translateY(-5px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  }
  .study .swiper-slide:hover{
    transform: translateY(0);
    box-shadow: 0px 7px 15px 0 rgba(0,0,0,0.15);
  }

  .contact a:hover h3{
    transform: translateX(0);
  }
  .contact .arrow{
    display: none;
  }

  footer{
    margin-top: 150px;
  }
}

/* mobile */
@media(max-width: 1023px){
  section{ padding: 0 30px; }
  h2{font-size: 50px; margin-top: 100px; opacity: 1; text-align: center;}
  .container{ padding: 0 30px; }

  .kakao{
    display: none;
  }
  .fixed .text p{
    font-size: 15px;
    font-weight: 500;
  }

  header{
    padding: 0 30px;
  }
  header h1{
    font-size: 20px;
    height: 28px;
  }
  header ul{
    display: none;
  }
  header h1 .logo2{
    bottom: -20px;
  }

  .main_banner{
    height: 200px;
  }
  .video_wrapper p{
    font-size: 257px;
  }

  .introduce > div{
    flex-direction: column;
    align-items: center;
  }
  .introduce .pic p{
    display: none;
  }
  .introduce .text{
    opacity: 1;
    width: 372px;
    margin-top: 30px;
  }
  .introduce .text p:nth-child(1){
    font-size: 35px;
    text-align: center;
  }
  .introduce .text p:nth-child(2){
    margin: 30px 0;
  }

  .portfolio li{
    display: block;
    margin-bottom: 170px;
  }
  .portfolio .por_img{
    height: 274px;
    margin: auto;
  }
  .portfolio .text{
    margin: 25px auto;
    text-align: left !important;
  }
  .portfolio .por_img,
  .portfolio .text{
    width: 370px;
  }
  .portfolio .title{
    font-size: 30px;
  }
  .portfolio .des{
    font-size: 15px;
  }

  .study h2{
    padding: 0;
  }
  .study .swiper-slide:hover{
    transform: translateY(0);
    box-shadow: 0px 7px 15px 0 rgba(0,0,0,0.15);
  }
  .study .swiper-slide-active{
    transform: translateY(-5px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  }

  .contact h3{
    font-size: 30px;
  }
  .contact h3::before{
    -webkit-text-stroke: 1px #191919;
  }
  .contact a:hover h3{
    transform: translateX(0);
  }
  .contact .arrow{
    display: none;
  }
  .contact p{
    font-size: 15px;
    margin: 8px 0;
  }
  footer{
    margin-top: 50px;
  }
} 


/* keyframe */
@keyframes navi_width{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
@keyframes toUp{
  from{
    transform: translateY(120px);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes opacity_ani{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}
@keyframes bannerTextMove {
  from {
    text-indent: 0;
  }
  to {
    text-indent: -195vw;
  }
}
@keyframes topBtnAnimate {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes introScroll {
  from {
    right: -263%;
  }
  to {
    right: -100%;
  }
}
@keyframes bounce {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -5px;
  }
  100% {
    bottom: 0;
  }
}