@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

li{list-style: none;}
a{text-decoration: none; color: black;}
button{border: 0; cursor: pointer;}
ul{padding: 0; margin: 0;}
*{font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.5px; color: #222;}
.container{
  max-width: 1920px;
  padding: 2rem 6rem;
}

body{position: relative; margin: 0;}
body > .container{position:relative;}
header{
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: aquamarine;
}
h1{
  margin: 0;
  margin-right: 2rem;
  line-height: 1;
  padding: 2rem;
}
header .dep_1{
  margin-right: auto;
  display: flex;
  align-items: start;
  height: 38px;
  overflow: hidden;
  transition: .4s;
  padding: 2rem 0;
  width: 30%;
}
header .dep_1:hover{
  height: 170px;
}
header .dep_1 > li{
  margin: .5rem 1rem;
}
header .dep_1 > li > a{
  font-size: 20px;
  display: block;
  margin-bottom: 2.4rem;
  line-height: 1;
}

.tab{
  margin: 1rem 0 0 0;
}
.tab_btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  width: 50%;
  padding: 1rem;
  border: 1px solid #888;
  border-top: 3px solid #888;
  text-align: center;
}
.btn.on{
  border-color: #222;
  border-bottom: 1px solid transparent;
}
.content{
  position: relative;
  padding: 1rem 0;
  border: 1px solid #888;
  border-top: 0;
  height: 530px;
  padding-bottom: 5rem;
}
.cont{
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: 0;
  opacity: 0;
  transition: .5s;
}
.cont > div{
  margin: 0 1rem;
  padding: 1rem;
  height: inherit;
  background-color: aqua;
}
.content .on{
  z-index: 1;
  opacity: 1;
}
.cont_1 > div{
  background-color: red;
}
.modal{
  display: none;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.modal.show{
  display: flex;
}

.modal.show .dimmed{
  background-color: #222222b2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal .login{
  display: none;
}
.modal.show .login{
  display: block;
  background-color: white;
  position: absolute;
  z-index: 11;
  opacity: 1;
  width: 500px;
  height: 500px;
}

.login .close{
  background-color: transparent;
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
}
.login .close::before,
.login .close::after
{
  content: "";
  background-color: black;
  display: block;
  height: 2px;
  width: 40px;
}
.login .close::before{
  transform: rotate(-45deg);
}
.login .close::after{
  transform: rotate(45deg);
}